/* navbar */
.logo{
    color: white;
}

/* divs */
.body-div{
    width: 100%;
}
.left-div{
    width: 50%;
    background: red;
    float: left;
}
.right-div{
    width: 50%;
    background: yellow;
    float: left;
}