/* navbar */
.logo{
    color: white;
}

/* divs */
.body-div{
    width: 100%;
}
.left-div{
    width: 50%;
    position: relative; 
}
.right-div{
    width: 50%;
    position: relative;
}
.input-box{
    height: 30rem;
}
